huggingface_hub==0.25.2
torch
gradio
transformers
langchain_community
langchain
sentence-transformers
faiss-cpu
langchain-huggingface
pypdf
langchain-groq
cryptography
google-genai
langchain-unstructured[local]
