@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
html,body{
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Nunito",serif;

}
.image-inverted{
  filter:invert(100%);
}
.nav-link{
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 30px;
  text-decoration:wavy;
  letter-spacing: 1px;

}
.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline{
  border-color:silver !important ;

}
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}